.itemListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.skeletonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
