.navDashboard {
  display: flex;
}
.buttonCerrar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.imgClubVeggeDash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
