.cartContainerTarjet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.containerButtonCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
