.containerForgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.inputField {
  width: 100%;
}

.errorText {
  color: red;
  font-size: 14px;
  text-align: center;
}
