.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.imgClubVegge {
  margin-top: 40px;
}

.containerForm {
  width: 70%;
  margin: 30px;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoCheckOut {
  font-family: "Sansation-light";
  font-size: 18px;
  margin: 10px;
  text-align: center;
}

.buttonSumarRestar {
  background-color: #369a63;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  font-family: "Sansation-Regular";
  margin: 10px;
}

.googleButton svg {
  margin-right: 10px;
}

.linkButton,
.googleButton,
.button {
  display: inline-block;
  background-color: #369a63;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  max-width: 300px; /* Ancho definido */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  text-align: center;
  font-family: "Sansation-Light";
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5),
    -4px -4px 12px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  margin: 10px 0;
  text-decoration: none;
}

.linkButton:hover,
.googleButton:hover,
.button:hover {
  background-color: #2c7a4b;
  transform: translateY(-4px);
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5),
    -6px -6px 16px rgba(255, 255, 255, 0.1);
}

.custom-toast {
  min-width: 70%;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

@font-face {
  font-family: "Sansation-Light";
  src: url(../../assets/tipograpic/Sansation_Light.ttf);
}

@font-face {
  font-family: "Sansation-Regular";
  src: url(../../assets/tipograpic/Sansation_Regular.ttf);
}
